body {
	width: 100%;
	height: 100%;
	font-family: 'Red Hat Display',
		'Helvetica Neue', Helvetica, Arial,
		sans-serif;
	color: #444;
	/*background: rgba(0, 170, 212, 0.2);*/
}
html {
	width: 100%;
	height: 100%;
}

h2 {
	text-transform: none;
	color: #c449de;
	font-size: 40px;
	font-weight: 700;
	letter-spacing: 1.6px;
	line-height: 40px;
}

@media (max-width: 767px) {
	h2 {
		font-size: 36px;
		letter-spacing: 1.44px;
		line-height: 36px;
	}
}

p {
	margin: 0 0 35px;
	font-size: 24px;
	line-height: 40px;
}
@media (max-width: 767px) {
	p {
		margin: 0 0 20px;
		font-size: 20px;
		line-height: 36px;
	}
}
a {
	color: #67184f;
	-webkit-transition: all 0.2s
		ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
a:hover,
a:focus {
	text-decoration: none;
	color: #fff;
	background-color: #000;
}
.bold {
	font-weight: 700;
}

.content-section {
	padding: 48px 96px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

@media (max-width: 767px) {
	.content-section {
		padding: 48px 24px;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.content-section {
		padding: 48px;
	}
}

.dark-bg {
	background-color: #000123;
}

.gradient-bg {
	background: linear-gradient(
		79deg,
		#2e75ab 0.21%,
		#1a4883 21.06%,
		#412161 40.57%,
		#a040c2 81.22%,
		#f18ff9 102.23%
	);
}

.gradient-bg .section-title {
	color: #fff;
}

.btn:focus {
	box-shadow: none;
	outline: solid 2px #2e75ab;
}

@media (min-width: 1024px) {
	.section-content-container {
		max-width: 900px;
	}
}

/* Intro */

.intro {
	display: table;
	width: 100%;
	height: auto;
	text-align: center;
	color: #444444;
	background: url(../img/hero.png)
		no-repeat center scroll;
	background-color: #ffffff;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}
.intro-body {
	vertical-align: middle;
	color: #fff;
	font-family: 'Red Hat Display';
	text-align: start;
}

.intro-body .logos {
	margin-bottom: 12px;
}

@media (min-width: 768px) {
	.intro-body {
		padding: 221px 0px 51px;
	}

	.intro-body .container {
		max-width: 950px;
		padding-right: 240px;
	}
}

.intro-body .logo {
	height: 56px;
}

.intro-body .title {
	font-size: 52px;
	font-weight: 700;
	line-height: 56px;
	letter-spacing: 1.04px;
}

.intro-body .subtitle {
	font-size: 28px;
	font-weight: 500;
	line-height: 32px;
	letter-spacing: 1.12px;
}

.intro-body .description {
	margin-top: 40px;
	font-size: 24px;
	line-height: 40px;
}

.intro-body .logos {
	margin-top: 36px;
	display: flex;
	align-items: center;
	column-gap: 32px;
}

.intro-body .info p {
	margin-top: 12px;
	font-size: 18px;
	font-style: italic;
	line-height: 28px;
	letter-spacing: 0.18px;
}

.intro-body .button-container {
	margin-top: 103px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.btn-circle {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 60px;
	height: 60px;
	padding: 7px 16px;
	border: 2px solid #fff;
	border-radius: 35px;
	font-size: 40px;
	color: #fff;
	background: transparent;
	-webkit-transition: background 0.3s
		ease-in-out;
	-moz-transition: background 0.3s
		ease-in-out;
	transition: background 0.3s
		ease-in-out;
}
.btn-circle:hover,
.btn-circle:focus {
	border: 2px solid #fff;
	background-color: rgba(
		255,
		255,
		255,
		0.1
	);
}
.page-scroll .btn-circle .animated {
	-webkit-transition-property: -webkit-transform;
	-webkit-transition-duration: 1s;
	-moz-transition-property: -moz-transform;
	-moz-transition-duration: 1s;
}
.page-scroll
	.btn-circle:hover
	.animated {
	-webkit-animation-name: pulse;
	-moz-animation-name: pulse;
	-webkit-animation-duration: 1.5s;
	-moz-animation-duration: 1.5s;
	-webkit-animation-iteration-count: infinite;
	-moz-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	-moz-animation-timing-function: linear;
}
@-webkit-keyframes pulse {
	0 {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	50% {
		-webkit-transform: scale(1.2);
		transform: scale(1.2);
	}
	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}
@-moz-keyframes pulse {
	0 {
		-moz-transform: scale(1);
		transform: scale(1);
	}
	50% {
		-moz-transform: scale(1.2);
		transform: scale(1.2);
	}
	100% {
		-moz-transform: scale(1);
		transform: scale(1);
	}
}

/* intro - mobile */
@media (max-width: 767px) {
	.intro-body {
		padding-top: 55px;
		padding-bottom: 51px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.intro-body .container {
		padding-top: 56px;
		width: 90%;
	}

	.intro-body .logo {
		height: 56px;
		width: auto;
	}

	.intro-body .title {
		padding: 0px;
		margin: 0px;
	}

	.intro-body .subtitle {
		font-size: 24px;
		font-family: 'Red Hat Display';
		letter-spacing: 0.96px;
		margin-top: 12px;
	}

	.intro-body .description {
		font-size: 20px;
		line-height: 32px;
		margin-top: 40px;
	}

	.intro-body .logos {
		margin-top: 52px;
		align-items: center;
		justify-content: center;
		column-gap: 20px;
	}

	.intro-body .italian-agile-logo {
		height: 42px;
		width: auto;
	}

	.intro-body .button-container {
		margin-top: 84px;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.intro-body .container {
		padding: 0px 48px;
	}
}

/* Descrizione */

.descrizione {
	position: relative;
}
@media (min-width: 1200px) {
	.descrizione:before {
		content: url(../img/bubbles.svg);
		position: absolute;
		top: 64px;
		left: 96px;
	}
	.descrizione:after {
		content: url(../img/bubbles.svg);
		position: absolute;
		bottom: 64px;
		right: 96px;
	}
}

.mind-the-gap .section-title {
	text-transform: none;
	margin-bottom: 16px;
}

.mind-the-gap p {
	color: #000;
}

/* descrizione - mobile */

@media (max-width: 767px) {
	.mind-the-gap .sectixon-title {
		font-size: 36px;
	}
}

/* Descrizione 2 */
/* TODO: cambiare nome sezione */

.descrizione-2 {
	padding: 40px 96px;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.descrizione-2
	.section-content-container {
	display: flex;
	align-items: center;
	flex-direction: column;
	color: #fff;
}

@media (min-width: 1024px) {
	.descrizione-2 .container {
		max-width: 690px;
	}
}

@media (min-width: 768px) and (max-width: 1023px) {
	.descrizione-2 {
		padding: 48px 24px;
	}
}

/* .descrizione-2 */

.descrizione-2 .pictures .img-1,
.descrizione-2 .pictures .img-2 {
	position: absolute;
}

@media (min-width: 320px) and (max-width: 1199px) {
	.descrizione-2 .pictures {
		width: 100%;
		margin-bottom: 40px;
		display: flex;
		justify-content: center;
	}

	.descrizione-2 .pictures .img-1,
	.descrizione-2 .pictures .img-2 {
		position: unset;
	}
}

@media (min-width: 320px) and (max-width: 767px) {
	.descrizione-2 .pictures {
		column-gap: 40px;
	}

	.descrizione-2 .pictures img {
		width: 148px;
		height: auto;
	}
}

@media (min-width: 768px) and (max-width: 1199px) {
	.descrizione-2 .pictures {
		column-gap: 75px;
	}

	.descrizione-2 .pictures img {
		width: 185px;
		height: auto;
	}
}

@media (min-width: 1200px) {
	.descrizione-2 .pictures .img-1 {
		left: 49px;
		padding-bottom: 90px;
	}
	.descrizione-2 .pictures .img-2 {
		right: 49px;
		padding-top: 90px;
	}

	.descrizione-2 .pictures img {
		width: 277px;
	}
}

@media (min-width: 1200px) and (max-width: 1440px) {
	.descrizione-2 .pictures img {
		width: 185px;
	}
}

@media (min-width: 1900px) {
	.descrizione-2
		.section-content-container {
		position: relative;
	}

	.descrizione-2 .pictures .img-1 {
		left: -470px;
	}
	.descrizione-2 .pictures .img-2 {
		right: -470px;
	}
}

.descrizione-text-content {
	position: relative;
}

.descrizione-text-content:after {
	content: '';
	display: block;
	background-color: #fff;
	height: 5px;
	width: 73px;
	left: calc((100% - 73px) / 2);
	position: absolute;
	bottom: 40px;
}

.descrizione-2
	.cta-container.buttons-container {
	margin-bottom: 85px;
	column-gap: 40px;
}

.descrizione-2
	.cta-container.buttons-container
	#partecipa {
	background-color: transparent;
	border: 2px solid #fff;
}

.descrizione-2
	.cta-container.buttons-container
	#partecipa:hover {
	background-color: #fff;
	color: #67184f;
	border: 2px solid #67184f;
}

.intro-body .cta-container.buttons-container a {
	background-color: transparent;
	border: 2px solid #fff;
}

.intro-body .cta-container.buttons-container a:hover {
    background-color: #fff;
    color: #67184f;
    border: 2px solid #67184f;
}

/* descrizione 2 mobile */
@media (max-width: 767px) {
	.descrizione-2 {
		padding: 40px 24px;
	}
	.descrizione-2
		.descrizione-text-content:after {
		bottom: 34px;
	}

	.descrizione-2
		.cta-container.buttons-container {
		flex-direction: column;
		row-gap: 48px;
	}
}

/* Programma */
.programma-section {
	position: relative;
}

@media (min-width: 1200px) {
	.programma-section:before {
		content: url(../img/bubbles.svg);
		position: absolute;
		top: 64px;
		left: 96px;
	}
	.programma-section:after {
		content: url(../img/bubbles.svg);
		position: absolute;
		bottom: 64px;
		right: 96px;
	}
}

@media (min-width: 767px) {
	.programma-section .section-title {
		text-align: center;
		margin-bottom: 40px;
	}
}

@media (max-width: 767px) {
	.programma-section .section-title {
		font-size: 40px;
		margin-bottom: 40px;
	}

	.programma-section p {
		margin-bottom: 40px;
	}
}

@media (min-width: 1200px) {
	.programma-section
		.programma-evento-container {
		width: 1080px;
	}
}

@media (max-width: 767px) {
	.programma-section .pictures img {
		width: 330px;
		height: 160px;
	}
}

/* Call for speaker */
.call-for-speaker-section {
	background: url('../img/call_for_speaker_bg.jpg');
	background-size: cover;
	background-position: center;
}

.call-for-speaker-content {
	border-radius: 8px;
	background: rgba(255, 255, 255, 0.8);
	margin-bottom: 36px;
}

@media (min-width: 768px) and (max-width: 991px) {
	.call-for-speaker-content {
		padding: 36px 24px;
	}
}

@media (min-width: 992px) {
	.call-for-speaker-content {
		padding: 36px 48px;
	}
}

.call-for-speaker-content p {
	font-size: 20px;
	line-height: 36px;
}

.cta-container {
	justify-content: center;
	align-items: center;
}

.btn.cta {
	display: flex;
	padding: 16px 32px;
	justify-content: center;
	align-items: center;
	background-color: #007ab8;
	border-radius: 4px;
	border: none;
	color: #fff;
	font-size: 18px;
	font-weight: 700;
	line-height: 18px;
	letter-spacing: 0.36px;
	text-transform: none;
}

.btn.cta:hover {
	background-color: #00689c;
}

@media (max-width: 767px) {
	.call-for-speaker-section {
		padding-bottom: 74px;
	}

	.call-for-speaker-content {
		padding: 36px 24px;
	}
}

/* Format */

.format-section {
	position: relative;
}

@media (min-width: 1200px) {
	.format-section:before {
		content: url(../img/bubbles.svg);
		position: absolute;
		top: 64px;
		left: 40px;
	}
	.format-section:after {
		content: url(../img/bubbles.svg);
		position: absolute;
		bottom: 64px;
		right: 40px;
	}
}

.format-section .section-title {
	margin-bottom: 70px;
}

.format-section .content-container {
	align-items: center;
}

.card-container {
	display: flex;
	row-gap: 70px;
	flex-direction: column;
	width: 100%;
}

.card {
	border: 0px;
	background-color: rgba(
		255,
		255,
		255,
		0.8
	);
	border-radius: 12px;
	flex-direction: row;
}

.card .img-container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.card .img-container img {
	border-radius: 8px;
	flex-basis: 100%;
	height: 105%;
}

@media (min-width: 768px) {
	.card:first-child,
	.card:nth-child(3) {
		flex-direction: row-reverse;
	}

	.card .text-container {
		padding: 54px 36px;
	}

	.card:nth-child(2) .text-container {
		padding: 54px 36px 54px 60px;
	}

	.card .text-container p {
		width: 560px;
		margin-bottom: 16px;
	}
}

@media (min-width: 768px) and (max-width: 1439px) {
	.card {
		padding: 30px;
		column-gap: 30px;
	}

	.card .img-container {
		width: 50%;
	}

	.card .img-container img {
		width: 100%;
		height: auto;
	}

	.card .text-container {
		padding: 0px;
		width: 50%;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.card .text-container p {
		width: auto;
	}

	.card:nth-child(2) .text-container {
		padding: 0px;
	}
}

.card .text-container h3 {
	color: #c449de;
	font-size: 32px;
	font-weight: 700;
	line-height: 40px;
	margin-bottom: 16px;
}

.card .text-container p {
	font-size: 18px;
	line-height: 28px;
}

.card .text-container a {
	font-size: 18px;
}

@media (max-width: 767px) {
	.format-section .section-title {
		font-size: 40px;
		margin-bottom: 40px;
	}

	.card-container {
		width: 100%;
		display: flex;
		flex-direction: column;
		row-gap: 40px;
	}

	.card {
		align-items: center;
		flex-direction: column;
	}

	.card .img-container {
		width: 105%;
	}

	.card .img-container img {
		width: 100%;
	}

	.card .text-container {
		padding: 24px 24px 48px;
	}
}

.format-section .pictures {
	display: flex;
	justify-content: center;
	margin-top: 72px;
}

.format-section .pictures picture {
	display: flex;
	justify-content: center;
}

@media (max-width: 1199px) {
	.format-section .pictures {
		margin-top: 40px;
	}
}

@media (max-width: 767px) {
	.format-section .pictures img {
		width: 90%;
		height: auto;
	}
}

/* Location */

.location-section {
	padding: 0px;
}

.location-section .location-container,
.location-section
	.come-raggiungerci-container {
	padding: 64px 0px 80px;
}

.location-section .location-container {
	background: url(../img/location_bg.png);
	background-position: center;
	background-size: cover;
	padding: 64px 0px 80px;
}

.location-section
	.location.section-content-container {
	background-color: rgba(
		255,
		255,
		255,
		0.9
	);
	border-radius: 8px;
	padding: 36px 48px;
}

.location-section
	.location-container
	p {
	font-size: 20px;
}

.come-raggiungerci-container
	.title-container {
	margin-bottom: 40px;
}
.come-raggiungerci-container
	.text-container {
	font-size: 24px;
	line-height: 40px;
}

.fish-stream-section {
	width: 100%;
	height: 419px;
	background-image: url(../img/fish_stream_desktop.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	position: relative;
	margin-bottom: 64px;
}

@media (max-width: 1199px) {
	.fish-stream-section {
		height: 253px;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}
}

/* TODO: SHOW AFTER ADDING LAST SECTIONS */
.fish-stream-section:after {
	content: '';
	display: block;
	position: absolute;
	background-color: #c848e0;
	width: 72px;
	height: 8px;
	bottom: -64px;
	left: calc(50% - 36px);
}

/* Sponsor */

.sponsor-section .title-container {
	margin-bottom: 40px;
}

.sponsor-section .sponsor-item {
	margin-bottom: 64px;
}
.sponsor-section .sponsor-title {
	font-size: 32px;
	font-weight: 700;
	letter-spacing: 1.28px;
	line-height: 40px;
	color: #67184f;
}

#sponsor-list{
	margin-top: 50px;
}

.sponsor-section .sponsor-item col{
	margin: 0px 20px;
	width: 80%;
}


/* Team */

.team-section {
	background: url(../img/team_bg.png);
	background-size: cover;
	background-position: center;
}

.team-section .title-container {
	margin-bottom: 72px;
}

.team-section .section-title {
	color: #fff;
}

.team-section .container {
	max-width: 900px;
}

.team-section .grid-container .row {
	row-gap: 80px;
}

.team-section
	.grid-container
	.staff-name-container {
	font-size: 20px;
	line-height: 28px;
	font-weight: 700;
	background-color: #ddd4e4;
	color: #67184f;
	width: 213px;
	padding: 16px 0;
	border-radius: 12px;
	margin: auto;
}

@media (max-width: 1200px) {
	.team-section .grid-container .row {
		padding-left: 0px;
		padding-right: 0px;
	}
	.team-section
		.grid-container
		.row
		> * {
		padding-left: 0px;
		padding-right: 0px;
	}

	.team-section
		.grid-container
		.staff-name-container {
		font-size: 18px;
		line-height: 26px;
		width: 90%;
		padding: 16px 20px;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

@media (max-width: 425px) {
	.team-section .grid-container img {
		width: 150px;
		height: 150px;
	}
}
/* Footer */
.footer {
	color: #fff;
	padding: 40px 96px 80px;
}

@media (max-width: 1200px) {
	.footer {
		padding: 40px 24px;
	}
}

.footer .img-container {
	margin-bottom: 40px;
}

.footer .stay-tuned {
	font-size: 42px;
	line-height: 56px;
	letter-spacing: 0.84px;
	margin-bottom: 12px;
	font-weight: 700;
}

.footer .contact-info {
	font-size: 24px;
	line-height: 40px;
}

.footer .contact-info a {
	color: #fff;
}

.footer .contact-info a:hover {
	background-color: transparent;
}

.footer .contacts-container {
	width: 100%;
	justify-content: space-evenly;
	margin-top: 40px;
}

.contacts-item {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.contacts-item .logo-container {
	margin-bottom: 12px;
	height: 64px;
	display: flex;
	align-items: center;
}

.contacts-item .link-container {
	margin-bottom: 16px;
}

.contacts-item .link-container a {
	font-size: 16px;
	line-height: 28px;
	color: #fff;
}

.contacts-item .link-container a:hover {
	text-decoration: none;
}

.contacts-item
	.social-area-container
	.cta {
	margin-bottom: 16px;
}

.contacts-item
	.social-area-container
	.social-links-container {
	display: flex;
	flex-direction: row;
	column-gap: 24px;
}

.contacts-item
	.social-area-container
	.social-links-container
	.social-link {
	border-radius: 50%;
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
}

@media (max-width: 767px) {
	.footer .contacts-container {
		flex-direction: column;
		row-gap: 50px;
	}

	.contacts-item .logo-container {
		margin-bottom: 26px;
	}
}

@media (max-width: 1199px) {
	.contacts-item .agile-logo {
		height: 48px;
	}

	.contacts-item .architecta-logo {
		height: 32px;
	}

	.contacts-item .gc-logo {
		height: 56px;
	}
}

/* .download-section {
	width: 100%;
	padding: 50px 0;
	color: #444444;
	background: url(../img/downloads-bg.jpg)
		no-repeat center center scroll;
	background-color: #ffffff;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}
#map {
	width: 100%;
	height: 600px;
	margin-top: 50px;
}
@media (min-width: 767px) {
	.download-section {
		padding: 100px 0;
	}
	#map {
		height: 600px;
		margin-top: 0px;
	}
} */
/* .btn {
	text-transform: uppercase;
	font-family: 'Montserrat',
		'Helvetica Neue', Helvetica, Arial,
		sans-serif;
	font-weight: 400;
	-webkit-transition: all 0.3s
		ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.btn-default {
	border: 1px solid #009bc2;
	color: #009bc2;
	background-color: transparent;
}
.btn-default:hover,
.btn-default:focus {
	border: 1px solid #009bc2;
	outline: none;
	color: #ffffff;
	background-color: #009bc2;
}
.btn-huge {
	padding: 25px;
	font-size: 26px;
} */
/* .banner-social-buttons {
	margin-top: 0;
}
@media (max-width: 1199px) {
	ul.banner-social-buttons {
		margin-top: 15px;
	}
}
@media (max-width: 767px) {
	ul.banner-social-buttons > li {
		display: block;
		margin-bottom: 20px;
		padding: 0;
	}
	ul.banner-social-buttons
		> li:last-child {
		margin-bottom: 0;
	}
} */
body {
	webkit-tap-highlight-color: rgba(
		255,
		255,
		255,
		0.2
	);
}
img.resp {
	max-width: 100%;
}

#cookie-law {
	max-width: 940px;
	background: black;
	position: fixed;
	left: 0;
	bottom: 0;
	min-width: 100%;
	z-index: 10000;
}

#cookie-law p {
	padding: 10px 100px;
	font-size: 1.2em;
	font-weight: bold;
	text-align: center;
	color: white;
	margin: 0;
}

/* Override sessionize */
#sessionize h1 {
	display: none !important;
}

#sessionize{
	font-family: 'Red Hat Display',
		'Helvetica Neue', Helvetica, Arial,
		sans-serif !important;
}

#sessionize span.sz-room{
	font-size: 28px !important;
	font-weight: 700 !important;
	color: #444 !important;
	background-color: #eee !important;
}

#sessionize .sz-speaker__bio {
    margin-top: 16px;
		font-size: 16px;
    line-height: 1.5;
}

#sessionize .sz-modal a:hover{
	background-color: #FFF !important;
}

#sessionize.sessionize-wrapper .sz-session__time {
    opacity: 0.8 !important;
}
